* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #0c8ea5;
  color: #fff;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.counter-container {
  flex-direction: column;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
